@font-face {
    font-family: "space-mono";
    src: url(./../fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: "Inconsolata";
    src: url(./../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-page {
    width: 100vw;
    height: 100vh;
}

.message-404 {
    height: 10vh;
    padding: 20px;
    font-family: Inconsolata;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.08em;
}

.middle-container {
    height: 80vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0 auto;
    padding: 50px;
}

.scarecrow-image-container {
    width: 35%;
}

.scarecrow-image {
    width: 100%;
}

h1 {
    font-size: 4rem;
    font-family: space-mono;
    font-style: normal;
    font-weight: bold;
    line-height: 6rem;
    letter-spacing: -0.035em;
}

.message {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: space-mono;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: -0.035rem;
}

.explanation {
    color: #4F4F4F;
    width: 60%;
    margin: 32px 0;
}

.back-to-homepage {
    height: 54px;
    width: 167px;
    background-color: #333333;
    color: white;
    font-family: space-mono;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: -0.035em;
    text-align: center;
    padding: 18px;
}

.back-to-homepage:hover {
    background-color: #847daa;
}

.credits {
    height: 10vh;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 0.9rem;
    color: #BDBDBD;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .middle-container {
        flex-direction: column;
    }
    .scarecrow-image-container {
        width: 80%;
    }
    .message {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
    .back-to-homepage {
        align-self: center;
    }
    .explanation {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .scarecrow-image-container {
        margin-top: 25px;
        width: 75%;
    }
    .middle-container {
        padding: 10px;
    }
    .explanation {
        width: 100%;
        font-size: 1.15rem;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        letter-spacing: -0.15rem;
        margin-top: 20px;
    }
}

@media screen and (max-width: 375px) {
    .message {
        margin-top: 0;
    }
    h1 {
        margin-top: 0;
    }
}